<% layout('layout') -%>
    <section class="title">
        <h1 class="form-header">
            <%= title %>
        </h1>
        <% if (typeof user !='undefined' ){ %>
            hi
        <%}%>
    </section>

    <% if (message_list.length !=0){ %>
        <ul>
            <% message_list.forEach( function(message){ %>
                <li>
                    <%=message.text%>
                </li>
                <%})%>
        </ul>
        <%}else{ %>
            No message yet
            <%} %>
                <a href="/sign-up">Sign up</a>
<br>
<hr>
            <% if (user) {%>
                <h1>WELCOME BACK 
                </h1>
                <a href="/log-out">LOG OUT</a>
                <% } else { %>
                    <h1>please log in</h1>
                    <form action="/log-in" method="POST">
                        <label for="username">Username</label>
                        <input name="username" placeholder="username" type="text" />
                        <label for="password">Password</label>
                        <input name="password" type="password" />
                        <button>Log In</button>
                    </form>
                    <%}%>