<% layout('layout') -%>
    <section class="title">
        <h1 class="form-header">
            <%= title %>
        </h1>

        <div class="links-container">
            <% if (user) { %>
                <form action="/log-out" method="post">
                    <input type="submit" value="Log out">
                </form>
               
                <% } else { %>

                    <a href="/sign-up">Sign up</a>
                    <a href="/log-in">Log in</a>
                    <%} %>
        </div>
    </section>

    <% if (message_list.length !=0){ %>
        <ul>
            <% message_list.forEach( function(message){ %>
                <li>
                    <%=message.text%>
                </li>
                <%})%>
        </ul>
        <%}else{ %>
            No message yet
            <%} %>


                <hr>
                <% if (user) {%>
                    <h1>WELCOME BACK
                    </h1>
                    <% if (!user.isMember) { %>
                        <a href="/become-member"> Become Member</a>
                        <% } %>
                            <% if (!user.isAdmin) { %>
                                <a href="/become-admin">Become Admin</a>
                                <% } %>

                                    <% } %>